# Archivos y carpetas generadas automáticamente
**/bin/
**/obj/
**/packages/

# Archivos de configuración local
*.user
*.suo
*.userprefs
*.csproj.user
*.DotSettings.user

# Configuración de Rider/VSCode
.idea/
.vscode/

# Archivos del sistema operativo
*.DS_Store
*.AppleDouble
*.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini

# Archivos de publicación
publish/
*.zip

# Git
.git
.gitignore
